# FastAPI
fastapi[all]
uvicorn[standard]
gunicorn

# Database
sqlalchemy[asyncio]
asyncpg
aiosqlite
alembic

# Bot
aiogram

# Redis
redis

# Security
python-jose[cryptography]
passlib[bcrypt]
python-multipart
pynacl

# Utilities
loguru
tenacity
apscheduler
pydantic-settings
python-dotenv
httpx
tonutils==0.1.4

# Testing
pytest
pytest-asyncio